strict-peer-dependencies=true
auto-install-peers=false
registry=https://registry.npmjs.org/
verify-store-integrity=true
prefer-frozen-lockfile=true
side-effects-cache=true
loglevel=warn
save-exact=true
